* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #f4f4f4;
}
body {
    background-color: black;
    display: flex;
}
.contant{
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
}
.card-contant{
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: start;
    width: 90%;
    height: 120vh;
    background-color: #ff6f28;
    padding-top: 40px;
    margin: 10px;
    border-radius: 10px;
}
@media (min-width: 600px) {
    .card-contant{
        height: 60%;
    }
}
.form{
    display: flex;
    gap: 10px;
    padding: 2px;
    margin: 2px;
    align-items: center;
    justify-content: center;
}
.form-box{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 2px;
    margin: 2px;
}
.form-box input{
    color: #ff6f28;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    max-height: 30px;
    max-width: 300px;
}
.right{
    align-items: right;
    justify-content: right;
    margin: 10px;
}
.left{
    align-items: left;
    justify-content: left;
    margin: 10px;
}
.form{
    display: flex;
    flex-wrap: wrap;
}
.form-button{
    background-color: #0CAF60;
    color: #f4f4f4;
    border: none;
    border-radius: 10px;
    padding: 10px;
    max-width: 300px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}
.form-button:hover{
    background-color: #ffffff55;
}